---
layout: default
title: "Súc Sích production | To Cyra"
cover: "//thesac.github.io/cert/top16/team_info/poster/10.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/10.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: To Cyra</h2>
			<p>Họ đánh mất nhau, và rồi họ kiếm tìm. Họ lần theo nhưng dấu vết trong cố gắng và hi vọng. Nhưng đằng sau đó là cả một nỗi bi kịch, là những bí mật, những xúc cảm và ký ức không thể lý giải được bằng cách nào khác ngoài sự chia sẻ và cảm thông giữa hai tâm hồn đồng điệu. Liệu thông điệp có được gửi đi, hay tình yêu vẫn mãi chỉ còn lại là những manh mối?</p>
			<a href="https://www.youtube.com/watch?v=QD9cpZ8YCdw" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/10.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>+Directed by<br/>Đào Xuân Vũ<br/>Nguyễn Phương Vân Nhi<br/><br/>+Written by<br/>Hoàng Thu Trà<br/><br/>+Cast:<br/> Cyra   Annabeth Tran<br/>Boyfriend Trần Thế Anh<br/><br/>+Storyboard<br/>Hoàng Thu Trà<br/>Annabeth Tran<br/><br/>+Costume design by<br/>Chau Nghe Chau<br/>Nguyễn Phương Vân Nhi<br/><br/>+Cameramen<br/>Hoàng Thu Trà<br/>Nguyễn Phương Vân Nhi<br/><br/>+Special thanks to<br/>E.tea 45C Trần Quốc Toản<br/>Đặng An Khánh (Ryan)<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/10.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/a10.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: FIRST PRIZE</h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/a10.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div>
</div>
{% include top16b.html %}
