---
layout: default
title: "K&C Team | Friends"
cover: "//thesac.github.io/cert/top16/team_info/poster/11.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/11.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Friends</h2>
			<p>Trên cuộc đời này, có thể nói là tình bạn là thứ tình cảm quan trọng nhất, thậm chí là quan trọng hơn cả tình cảm gia đình hay là tình cảm nam nữ. Con người ta có thể sống mười mấy năm cuộc đời thiếu tình cảm trai gái, có thể lớn lên rồi sống xa bố mẹ. Nhưng trong suốt những năm tháng đó, con người không thể nào thiếu được những người bạn. Và bộ phim này là cái nhìn nhận của K&amp;C Team về tình bạn, về bạn bè. Qua bộ phim này, điều mà bọn mình muốn nhắn gửi tới mọi người chính là “Tình bạn là thứ vô cùng thiêng liêng và đừng bao giờ để bất cứ thứ gì làm sứt mẻ đi tình bạn của bạn.”</p>
			<a href="https://www.youtube.com/watch?v=vgu1UdgVzLA" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/11.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>1. Nguyễn Thị Minh Khánh – Đạo diễn, quay phim, hậu kì<br/>2. Phạm Hà Chi – Diễn viên, quay phim<br/>3. Vũ Đức Anh – Diễn viên<br/>4. Hà Nguyễn Tố Trân – Diễn viên<br/>5. Lê Gia Hiển – Diễn viên, quay phim<br/>6. Nguyễn Xuân Hà – Diễn viên, hậu cần<br/>7. Trương Hùng Việt – Diễn viên, hậu cần<br/>8. Nguyễn Trọng Quang Minh – Diễn viên<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/11.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<!--div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: </h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div-->
</div>
{% include top16b.html %}
