---
layout: default
title: "Maverick | Hành trình kiêu hãnh"
cover: "//thesac.github.io/cert/top16/team_info/poster/13.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/13.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Hành trình kiêu hãnh</h2>
			<p>Bộ phim kể về cuộc sống của 2 cô gái đảo lộn khi bố Phương lấy mẹ Thảo. Phương ước mơ, hoài bão nhưng bệnh tim lại ngăn cản tuổi trẻ của cô. Cô ghét sự thương hại của mọi người, ghét bàn tay giúp đỡ của Thảo. Tức giận, ganh ghét, cảm phục, xúc động, hạnh phúc . 2 cô gái đều cùng nhau trải qua.Phương ra đi nhưng cô và Thảo đã thực hiện cuộc hành trình kiêu hãnh, đong đầy nước mắt , đong đầy tình yêu thương.</p>
			<a href="https://www.youtube.com/watch?v=4YDUWDBj0Hg" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/13.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p>+ Các thành viên</br>diễn viên: Ngô Ngân Hà (Phương ) </br>               Tạ Tú Quyên ( Thảo)</br>đạo diễn: Vũ Hồng Anh</br>quay phim: Vũ Hồng Anh</br>                 Tạ Duy Hòa </br>editor: Tạ Kiều Trang</br>          Tạ Duy Hòa</p>
			<a href="//thesac.github.io/cert/top16/team_info/team/13.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/a13.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: CREATIVE CONTENT</h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/a13.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div>
</div>
{% include top16b.html %}
