---
layout: default
title: "Nhóm 2"
cover: "//abc"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(images/3.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: </h2>
			<p>The content shows here</p>
			<a href="https://www.youtube.com/watch?v=" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(images/chude.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p>Loading...</p>
			<a href="https://www.youtube.com/watch?v=" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(images/3.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: </h2>
			<p></br></br></br></p>
			<a href="https://www.youtube.com/watch?v=" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div>
</div>
{% include top16b.html %}