---
layout: default
title: "The Illumination | Điều có thể"
cover: "//thesac.github.io/cert/top16/team_info/poster/2.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/2.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Điều có thể</h2>
			<p>Bạn có tin vào ĐỊNH MỆNH không? Câu nói ấy đã thôi thúc chúng tôi làm nên bộ phim này . Một bộ phim về tình người với tình yêu đồng giới , tình yêu nam nữ nà tình phụ tử thiêng liêng . "Trên thế giới này , mọi điều không thể đều có thể xảy ra" . Câu nói ấy đã gắn kết Thanh và Linh , cũng chinh câu nói ấy đã làm Luật dao động . Và cuối cùng , Thanh đã…</p>
			<a href="https://www.youtube.com/watch?v=i2eEmw9UsQ8" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/2.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p>+ Lưu Tiến Huy : đại diễn , kịch bản , quay phim , chỉnh sửa <br/>  + Nguyễn Trà Giang : kịch bản , quay phim , chỉnh sửa , âm thanh <br/>  + Chu Quang Huy : kịch bản , quay phim , dịa điểm <br/>  + Đoàn Hồng Ngọc : quay phim<br/>  + Nguyễn Mỹ Linh : nữ chính <br/>  + Trần Thị Thanh : nữ chính <br/>  + Phạm Minh Kiên :nam thứ <br/>  + Vũ Gia Luật : nam thứ<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/2.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/a2.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: SECOND PRIZE</h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/a2.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div>
</div>
{% include top16b.html %}
