---
layout: default
title: "A PDP production | Nắng"
cover: "//thesac.github.io/cert/top16/team_info/poster/3.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/3.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Nắng</h2>
			<p>Bộ phim là dòng cảm xúc của một cô gái mồ côi mẹ từ nhỏ, cũng chính vì thế mà bố của cô đã có những hành động không đúng đắn vs chính con gái của mình. Vì vậy, cô gái luôn thu mình với tất cả mọi người. Nhưng trái tim nhỏ bé ấy đã dần đc mở lòng và được sưởi ấm khi có đc sự động viên chia sẻ của một người bạn.Từ lúc chỉ mới biết cô là bạn cùng lớp đến khi biết những gì cô phải chịu đựng, cậu bạn ấy vẫn luôn ở bên và giúp đỡ cô gái ấy. Bộ phim lên án hành vi thiếu đạo đức, qua đó đề cao một thứ tình cảm cao quý - Tình người. Tình người tình thương luôn diễn ra xung quanh ta...</p>
			<a href="https://www.youtube.com/watch?v=rNS0m1JRvJc" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/3.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>Director : Trần Thu Hương<br/>Writer : Vũ Hoài An - Mạc Khánh Vi - Đinh Phương Trà<br/>Camera : Trần Thu Hương <br/>Actor : Nguyễn Vũ Anh - Bố ( chính )<br/>            Hoàng Diễm Quỳnh - Nữ chính (chính)<br/>            Nguyễn Đức Anh - cậu bạn ngồi cạnh nữ chính (chính)<br/>            Nguyễn Khánh Vân - bạn cùng lớp ( phụ )<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/3.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<!--div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: </h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div-->
</div>
{% include top16b.html %}
