---
layout: default
title: "Ngắn gọn thôi | Hà Nội cô đơn"
cover: "//thesac.github.io/cert/top16/team_info/poster/4.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/4.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Hà Nội cô đơn</h2>
			<p>Bộ phim xoay quay về tình cảm con người và những gì sâu kín nhất trong lòng thủ đô.</p>
			<a href="https://www.youtube.com/watch?v=ldMU7zfcp8g" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/4.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>-Nguyễn Anh Sơn Đạo diễn<br/>Trần Thị Phương Diễn viên<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/4.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<!--div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: </h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div-->
</div>
{% include top16b.html %}
