---
layout: default
title: "SHALLT MTAND | Người tốt"
cover: "//thesac.github.io/cert/top16/team_info/poster/5.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/5.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Người tốt</h2>
			<p>Câu chuyện kể về một cậu học sinh với bản tính hiền lành, trong sáng thích giúp đỡ mọi người xung quanh, nhưng vì những nỗi buồn và bất hạnh ập đến liên tục khiến cậu chán nản và dần tìm ra bản ngã của chính mình.</p>
			<a href="https://www.youtube.com/watch?v=QQyd2lIBRxQ" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/5.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>Tùng Lâm (Biên Kịch);<br/> Phương Thảo (Diễn Viên); <br/>Thành Nam (Đạo Diễn);<br/> Việt Hoàng (Diễn Viên);<br/> Hồng Anh (Nguyễn), Quang Minh, Hồng Sơn (Diễn Viên,Quay Phim);<br/> Thanh Thủy (Hậu Cần);<br/> Hồng Anh (Phạm) (Chỉnh Sửa); <br/>Khương Duy, Thành Long (Thiết Kế, Hậu Cần).<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/5.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<!--div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: </h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div-->
</div>
{% include top16b.html %}
