---
layout: default
title: "K.Y.S | Nhẹ tựa nỗi đau"
cover: "//thesac.github.io/cert/top16/team_info/poster/6.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/6.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Nhẹ tựa nỗi đau</h2>
			<p>bộ phim kể về 1 cô bé bị mù tên Bình và 1 cô gái bị điên tên Linh đều là những con người bất hạnh . Họ tìm được nhau và nhìn thấy niềm hạnh phúc trong đó</p>
			<a href="https://www.youtube.com/watch?v=9IBQHdUGFnU" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/6.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>Đỗ Hồng Nhung : đạo diễn , quay phim , edit<br/>Tạ Hà Phương : diễn viên chính , edit<br/>Tạ Hà Minh : diễn viên chính<br/>Đặng Trọng Anh : đạo cụ<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/6.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/a6.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: THIRD PRIZE</h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/a6.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div>
</div>
{% include top16b.html %}
