---
layout: default
title: "SIPTEAM | Nắng phía chân cầu"
cover: "//thesac.github.io/cert/top16/team_info/poster/7.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/7.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Nắng phía chân cầu</h2>
			<p>"Nắng Phía Chân Cầu" là 1 bộ phim ngắn kể về Khanh, 1 cô bé sinh ra và lớn lên trong 1 gia đình khá giả. Cuộc đời của cô là 1 chuỗi những ngày tháng sung túc cho tới khi sóng gió xảy ra với gia đình cô. Với những suy nghĩ nông nổi, Khanh đã tự dồn mình vào tuyệt vọng. Nhưng tình thương đã giúp Khanh vượt qua tất cả, và hơn hết, nó giúp cô thay đổi cách nhìn về mọi thứ xung quanh, giúp cô tìm lại cho mình mục đính sống đáng quý. Thông điệp muốn truyền tải qua bộ phim: niềm vui đôi khi chỉ đơn giản là hạnh phúc của những người xung quanh. Sau cơn mưa trời lại nắng. Đem lại niềm vui cho mọi người cũng là tìm cho mình một nguồn hạnh phúc, để cho tâm hồn luôn nhẹ nhàng, thanh thản, luôn vững vàng trước mọi sóng gió trong cuộc sống.</p>
			<a href="https://www.youtube.com/watch?v=SrWImBW3VCs" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/7.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>- Đạo diễn & kịch bản: Minh Trang Trần<br/>    - Đạo diễn hình: Phan Duy Lân<br/>    - Quay phim: Đinh Quang Thái<br/>    - Trợ lí quay phim: Trương Đức Trung<br/>    - Kỹ thuật: Lê Thành Đạt<br/>    - Âm thanh: Đoàn Xuân Lộc & Tuấn Nin<br/>    - Diễn viên chính: Minh Phương<br/>    - Diễn viên phụ: Hoàng Trang<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/7.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/a7.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: MOST FAVOURITE FILM</h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/a7.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div>
</div>
{% include top16b.html %}
