---
layout: default
title: "A1 k41 KL | Sống là cho đi"
cover: "//thesac.github.io/cert/top16/team_info/poster/8.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/8.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: Sống là cho đi</h2>
			<p>Bộ phim kể về cuộc đời của một cậu bé nhặt ve chai (mẹ mất do bị ung thư còn bố mất khi cậu chưa ra đời) có một trái tim ấm áp. Rất nhiều biến cố xảy ra với cậu nhg cuối cùng cậu được một người đàn bà hiền hậu cưu mang và giúp cậu được đi học. Thông điệp chúng tôi muốn gửi đến chính là chúng ta hãy cho đi tình thương của chúng ta đến những người xung quanh ngay cả những người chúng ta ko quen biết khi họ gặp khó khăn. SỐNG LÀ CHO ĐI ĐÂU CHỈ NHẬN CHO MÌNH.</p>
			<a href="https://www.youtube.com/watch?v=ie6ly9v0DLE" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/8.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>-Đạo diễn: Đông Lê<br/>-Kịch bản: Đông Lê<br/>-Quay phim: N T Thành,Đông Lê<br/>-Dựng phim: Kuro Nakajima<br/>-Diễn viên:<br/>+Chính: Nguyễn Minh Anh …… Đứa bé<br/>+Phụ: Nguyễn Hải Đăng …… Mẹ đứa bé<br/>   Đoàn Duy Anh …… Đầu gấu<br/>   Tạ Phương Chi …… Người cưu mang<br/>   N T Thành …… Người bị nạn<br/>-Make-up: Phạm Thanh Thảo<br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/8.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<!--div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: </h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div-->
</div>
{% include top16b.html %}
