---
layout: default
title: "THE RET TEAM | A better me"
cover: "//thesac.github.io/cert/top16/team_info/poster/9.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/9.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Short film: A better me</h2>
			<p>The problem is not the problem, the problem is your attitude about the problem.</p>
			<a href="https://www.youtube.com/watch?v=QBbZFw1G9hA" target="_blank" class="btn btn-primary">WATCH ON YOUTUBE</a></p>
		</div>
	</div>
	<div class="fh5co-portfolio-item">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/team/9.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team info</h2>
			<p><br/>Nguyễn Thị Quỳnh Anh _ Đạo diễn, biên kịch, diễn viên chính<br/>Phan Xuân Thi _ Cameraman, Editor<br/>Đỗ Mạnh Hiển _ Diễn viên phụ<br/>Trịnh Thuỷ Nhi _ Cameraman<br/>Nguyễn Thanh Tùng _ Hỗ trợ <br/></p>
			<a href="//thesac.github.io/cert/top16/team_info/team/9.jpg" target="_blank" class="btn btn-primary">VIEW TEAM PHOTO</a></p>
		</div>
	</div>
	<!--div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/online_copy/team/.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Awarded: </h2>
			<p></br></br></br></p>
			<a href="//thesac.github.io/cert/top16/online_copy/team/.jpg" target="_blank" class="btn btn-primary">VIEW CERTIFICATE</a></p>
		</div>
	</div-->
</div>
{% include top16b.html %}
