---
layout: default
title: "All teams"
cover: "images/3.jpg"
---

{% include top16a.html %}
<div id="fh5co-portfolio" style="background-color:#eee;">
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/2.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 2: The Illumination</h2>
			<p>Short film: Điều có thể</p>
			<a href="//thesac.github.io/cert/top16/team_info/2.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item ">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/3.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 3: A PDP production</h2>
			<p>Short film: Nắng</p>
			<a href="//thesac.github.io/cert/top16/team_info/3.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/4.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 4: Ngắn gọn thôi</h2>
			<p>Short film: Hà Nội cô đơn</p>
			<a href="//thesac.github.io/cert/top16/team_info/4.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item ">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/5.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 5: SHALLT MTAND</h2>
			<p>Short film: Người tốt</p>
			<a href="//thesac.github.io/cert/top16/team_info/5.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/6.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 6: K.Y.S</h2>
			<p>Short film: Nhẹ tựa nỗi đau</p>
			<a href="//thesac.github.io/cert/top16/team_info/6.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item ">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/7.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 7: SIPTEAM</h2>
			<p>Short film: Nắng phía chân cầu</p>
			<a href="//thesac.github.io/cert/top16/team_info/7.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/8.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 8: A1 k41 KL</h2>
			<p>Short film: Sống là cho đi</p>
			<a href="//thesac.github.io/cert/top16/team_info/8.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item ">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/9.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 9: THE RET TEAM</h2>
			<p>Short film: A better me</p>
			<a href="//thesac.github.io/cert/top16/team_info/9.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/10.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 10: Súc Sích production</h2>
			<p>Short film: To Cyra</p>
			<a href="//thesac.github.io/cert/top16/team_info/10.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item ">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/11.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 11: K&C Team</h2>
			<p>Short film: Friends</p>
			<a href="//thesac.github.io/cert/top16/team_info/11.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item fh5co-img-right">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/12.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 12: SONDER GROUP</h2>
			<p>Short film: Giấy</p>
			<a href="//thesac.github.io/cert/top16/team_info/12.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
	<div class="fh5co-portfolio-item ">
		<div class="fh5co-portfolio-figure animate-box" style="background-image: url(//thesac.github.io/cert/top16/team_info/poster/13.jpg);"></div>
		<div class="fh5co-portfolio-description">
			<h2>Team 13: Maverick</h2>
			<p>Short film: Hành trình kiêu hãnh</p>
			<a href="//thesac.github.io/cert/top16/team_info/13.html" class="btn btn-primary">View Team Info</a></p>
		</div>
	</div> 
</div>
{% include top16b.html %}