@font-face {
  font-family: 'SVN-Gotham';
  src: url(/font/svn-gotham-bold.woff) format('woff');
}

@font-face {
  font-family: 'SVN-Gotham-Thin';
  src: url(/font/svn-gotham-light.woff) format('woff');
}