@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,900);
/*-----------------------------------//
//  MIXINS
//-----------------------------------*/
/*-----------------------------------//
//  D.R.Y. CLASSES
//-----------------------------------*/
/*Text Aligns*/
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}

/*-----------------------------------//
//  GENERAL
//-----------------------------------*/
body {
  font: 16px/1.5em "Open Sans";
  background: #F0F1FA;
}

a {
  text-decoration: none;
  color: #E54B4B;
}

p em {
  background: #f2f2f2;
  color: #87878f;
  padding: 0 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
}

hr {
  margin: 1.5em 0;
}

.hide {
  display: none;
}

/*-----------------------------------//
//  TEMPLATE STYLES
//-----------------------------------*/
/* Buttons and Inputs */
textarea,
button,
a.btn,
select,
input[type="text"],
input[type="submit"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button {
  font-family: inherit !important;
  font-size: 18px;
  border: 1px solid #B0B0BA;
  box-sizing: border-box;
  padding: 5px;
}

a.btn,
button,
input[type="submit"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button {
  background: transparent;
  display: inline-block;
  padding: 6px 10px;
  color: inherit;
  font-weight: bold !important;
  font-family: "Open Sans";
  text-decoration: none;
  text-transform: uppercase;
}

/* Row */
.row {
  margin-bottom: 1.5%;
  overflow: hidden;
}
.row:last-child {
  margin: 0;
}

@media screen and (min-width: 480px) {
  .hlf,
  .trd,
  .fth {
    float: left;
    margin-right: 1.5%;
  }
  .hlf:last-child,
  .trd:last-child,
  .fth:last-child {
    margin: 0;
    float: right;
  }

  .hlf {
    width: 49.25%;
  }

  .trd {
    width: 32.3%;
  }

  .fth {
    width: 23.8%;
  }
}
/* Box */
.box {
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 3%;
  margin: 0 auto;
  margin-bottom: 1.6%;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
@media screen and (min-width: 480px) {
  .box {
    padding: 2%;
    margin-bottom: 2%;
    max-width: 500px;
  }
}
@media screen and (min-width: 765px) {
  .box {
    padding: 1.5%;
    margin-bottom: 1.5%;
  }
}
@media screen and (min-width: 1024px) {
  .box {
    padding: 1.25%;
    margin-bottom: 1.25%;
  }
}
@media screen and (min-width: 1180px) {
  .box {
    padding: 1%;
    margin-bottom: 1%;
  }
}

/*-----------------------------------//
//  PEN STYLES
//-----------------------------------*/
/*PEN STYLES*/
.contactForm {
  border-radius: 4px;
  box-sizing: border-box;
  margin: auto;
  max-width: 450px;
  overflow: hidden;
  /*SUCESS STYLES*/
}
.contactForm .formHeader {
  background: #54428E;
  border-bottom: 4px solid #463776;
  color: #fff;
  text-align: center;
  overflow: hidden;
  /*TRANSITION*/
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.contactForm .formHeader h1 {
  line-height: 1em;
}
.contactForm .formBody {
  background: #fff;
  height: 640px;
  padding: 20px 12px;
  overflow: hidden;
  /*TRANSITION*/
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contactForm .inputContainer {
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
  margin-bottom: 5px;
  overflow: hidden;
  background: transparent;
}
.contactForm .inputContainer .message {
  color: #FF5C5C;
  background: #ffb8b8;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  margin: 0;
  line-height: 2.5em;
  text-align: center;
  overflow: hidden;
  /*TRANSITION*/
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.contactForm .inputContainer label,
.contactForm .inputContainer input,
.contactForm .inputContainer textarea {
  box-sizing: border-box;
  padding: 10px;
  font-size: 25px;
  line-height: 1em;
  border: none;
  font: inherit;
}
.contactForm .inputContainer label {
  /*display: inline-block;
  font-size: .9em;
  background: #e0e0e0;
  color: rgba(0, 0, 0, 0.3);
  line-height: 1.75em;
  border-right: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;*/
}
.contactForm .inputContainer textarea,
.contactForm .inputContainer input {
  width: 100%;
  max-width: 100%;
}
.contactForm .inputContainer textarea {
  margin-bottom: -5px;
}
.contactForm .inputContainer input {
  /*padding-left: 50px;*/
}
.contactForm .submitBtn {
  background: #54428E;
  color: #fff;
  border: none;
  border-radius: 3px;
  font: inherit;
  padding: 10px 18px;
  margin-top: 10px;
  float: right;
  width: auto;
  /*TRANSITION*/
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.contactForm .submitBtn:hover {
  background: #765cc7;
}
.contactForm.success {
  overflow: hidden;
}
.contactForm.success .formHeader {
  background: #0A8754;
  border-color: #087146;
  font-size: .75em;
}
.contactForm.success .formBody {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.contactForm.success .formBody form {
  /*TRANSITION*/
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.contactForm .inputContainer.success {
  border-color: #76d176;
}
.contactForm .inputContainer.success:after {
  font: 1.25em/2em 'Open Sans';
  color: #82E682;
  position: absolute;
  top: 0;
  right: 10px;
  content: "\f00c";
}
.contactForm .inputContainer.success label {
  background: #82E682;
  border-color: #76d176;
}
.contactForm .inputContainer.success input,
.contactForm .inputContainer.success textarea {
  color: #0A8754;
}
.contactForm .inputContainer.error {
  border-color: #e85454;
}
.contactForm .inputContainer.error .message {
  width: 100%;
}
.contactForm .inputContainer.error:after {
  font: 1.25em/2em 'Open Sans';
  color: #FF5C5C;
  position: absolute;
  top: 0;
  right: 10px;
  content: "\f00d";
}
.contactForm .inputContainer.error label {
  background: #FF5C5C;
  border-color: #e85454;
}
.contactForm .inputContainer.error input,
.contactForm .inputContainer.error textarea {
  color: #FF5C5C;
}