@import 'http://fonts.googleapis.com/css?family=Open%20Sans:400';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  background: #333;
  height: 120vh;
  max-height: 100%;
  overflow-x: hidden;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-perspective-origin: center top;
          perspective-origin: center top;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding: 0 0px;
  font: 36px/1.6 "Open Sans", serif;
}

header {
  height: 50vh;
  width:100%;
  padding:0px;
  background: url("img/title_big.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: top;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transform: translateZ(-1px) scale(2.5);
          transform: translateZ(-1px) scale(2.5);
}

section {
  min-height: 80vh;
  background: #eeeeee;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

h1 {
  font-size: 60px;
  font-weight: 400;
  padding: 10px 20px;
}

p {
  text-align:left;
  width:80%;
  background: white;
  font-size: 24px;
  font-size: 300;
  padding:1em;
  transition: all 0.3s ease;
  box-shadow: 
		0 1px 45px rgba(0,0,0, 0.18),
		0 1px 10px rgba(0,0,0, 0.28); 
}

p:hover,
p:focus {
box-shadow: 
		0 3px 6px rgba(0,0,0, 0.12),
		0 3px 6px rgba(0,0,0, 0.24);

	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
	background: #000;
	color:#fff;
}

p.t {
  width:80%;
  font-size: 24px;
  font-size: 300;
  padding: 0 0px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

html, body {
  height: 100%;
}

body {
}

.eventLogo {
  width: 150px;
  height: 150px;
  float: left;
  display: inline-block;
  margin-right: 1em;
}
@media screen and (max-width: 480px) {
  .eventLogo {
    float: none;
    display: block;
    width: 70%;
    height: auto;
    margin-bottom: 1em;
  }
}