@import 'http://fonts.googleapis.com/css?family=Open%20Sans:400';

body {
	font-family: 'Open Sans';
	/*background: url(bg.jpg) no-repeat center center fixed; */
	background: #bbb; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #bbb;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

.menu {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  padding: 0.5em 1em;
  color: white;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.menu li a:hover {
  color: #f55;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

/*  = Contact list
------------------------------*/
.contact_list {
  display: block;
  width: 100%;
  margin: 1% auto;
}
.contact_list .contact_list_item {
  width: 100px;
  height: 100px;
  list-style: none;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  overflow: hidden;
}
.contact_list .contact_list_item li {
  display: block;
  margin: 0;
}
.contact_list .contact_list_item li h1 {
  text-align: center;
}
.contact_list .contact_list_item li b {
  font-size: 1em;
  margin-right: 0.5em;
  font-weight: 700;
  color: #192027;
}
.contact_list .contact_list_item li .contact_list_th {
  width: 150px;
  height: 150px;
  float: left;
  display: inline-block;
  margin-right: 1em;
}
@media screen and (max-width: 480px) {
  .contact_list .contact_list_item li .contact_list_th {
    float: none;
    display: block;
    width: 80%;
    height: auto;
    margin-bottom: 1em;
  }
}
.contact_list .rel {
  width: 60%;
  height: 50%;
  background:white;
  padding: 2em;
  font-size: 1.2em;
  color: #000;
  opacity: 1;
  box-shadow: 0 1px 8px #020A1A;
}
@media only screen and (max-width: 800px) {
  .contact_list .rel {
    width: 80%;
    height: auto;
  }
}